streamlit

snowflake-ml-python
snowflake-snowpark-python>=1.18.0,<2.0

pypdf
pandas>=2.2.3,<2.4

numpy<2
scipy<1.12
scikit-learn<1.6

trulens-core>=1.0.0
trulens-connectors-snowflake>=1.0.0
trulens-providers-cortex>=1.0.0

langchain-core>=0.3.0
langchain-snowflake>=0.1.0
